<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>
    <title>Admin Page</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" th:href="@{/styles/doctor.css}"/>
    <link th:href="@{/styles/carousel.css}"  rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<!------ Include the above in your HEAD tag ---------->
<script>
    function rowClicked(value) {
        location.href = "/admin/details?param=" + value;
    }
</script>
<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/" th:href="@{/}">
        <img src="homedoclogo.png" th:src="@{/images/homedoclogo.png}" width="150" height="40" class="d-inline-block align-top" alt="homedoclogo"/>

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fa fa-home"></i>
                    Strona główna
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-envelope-o">
                        <span class="badge badge-danger">11</span>
                    </i>
                    Wiadomości
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-calendar">
                        <span class="badge badge-danger">11</span>
                    </i>
                    Harmonogram
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-bell">
                        <span class="badge badge-info">11</span>
                    </i>
                    Wizyty
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-globe">
                        <span class="badge badge-success">11</span>
                    </i>
                    Disabled
                </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="get">
            <div class="panel-heading">
                <span style="color: snow" th:utext="${userName}"></span>
            </div>
            <button class="btn btn-danger my-2 my-sm-0" name="registration"
                    type="Submit">Wyloguj</button>
        </form>
    </div>
</nav>

<div class="container">
    <div class="col-md-7">
        <h2 class="featurette-heading">Witaj! <span
                class="text-muted">Panel akceptacji lekarzy!</span></h2>
        <p class="lead">W tym panelu możesz podejrzeć szczegóły danego lekarza oraz go zaakceptować</p>
    </div>
</div >
<div class="container marketing">
    <form th:action="@{/admin/download}" method="get" th:object="${doctor}">
        <div class="form-group">

            <label for="id">Identyfikator doktora:</label>
            <input readonly="readonly" type="text" th:field="*{did}" class="form-control" id="id">
            <label for="name">Imię:</label>
            <input readonly="readonly" type="text" th:field="*{user.name}" class="form-control" id="name" placeholder="np. Bydgoszcz">
            <label for="lastname">Nazwisko:</label>
            <input readonly="readonly" type="text" th:field="*{user.lastName}" class="form-control" id="lastname" placeholder="np. Bydgoszcz">

            <label for="email">Email:</label>
            <input readonly="readonly"  type="text" th:field="*{user.email}" class="form-control" id="email" placeholder="np. 86-150">

            <label for="phonenumber">Numer telefonu:</label>
            <input readonly="readonly"  type="text" th:field="*{phonenumber}" class="form-control" id="phonenumber" placeholder="np. Sezamkowa">

            <label for="city">Miasto:</label>
            <input readonly="readonly"  type="text" th:field="*{city}" class="form-control" id="city" placeholder="np. 10">

            <label for="specialization">Specjalizacja:</label>
            <input readonly="readonly" type="text" th:field="*{specialization}" class="form-control" id="specialization" placeholder="np. 11">

        </div>
        <button type="submit" class="btn btn-success" name="show" style="float: left">Pokaż dyplom</button>

        <button type="submit" class="btn btn-success" name="confirm" style="float: right">Zaakceptuj</button>
    </form>

</div>
<div>
    <footer>
        <p class="float-right"><a href="aa">Back to top</a></p>
        <p>&copy; 2017 Company, Inc. &middot; <a href="aa">Privacy</a> &middot; <a href="aa">Terms</a></p>
    </footer>
</div>
</body>
</html>