<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link th:href="@{/styles/carousel.css}"  rel="stylesheet">
    <title>Praca inżynierska Łukasz Kręski</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="/" th:href="@{/}">
        <img src="homedoclogo.png" th:src="@{/images/homedoclogo.png}" width="150" height="40" class="d-inline-block align-top img-responsive" alt="homedoclogo"/>

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/" th:href="@{/}">Strona główna<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dla lekarzy
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/registration}">Zarejestruj się</a>
                    <a class="dropdown-item" th:href="@{/login}">Zaloguj się</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Informacje</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Zaloguj się</button>
        </form>
    </div>
</nav>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="first-slide img-fluid img-responsive"
                 th:src="@{/images/mainpage/kadra545.jpg}"
                 alt="First slide">
            <div class="container">
                <div class="carousel-caption d-none d-md-block text-left">
                    <h1>Wizyty domowe</h1>
                    <p>Zamów już teraz lekarza dowolnej specjalizacji, a on dojedzie do Ciebie w 60 minut, po czym zostaniesz kompleksowo przebadany!</p>
                    <p><a class="btn btn-lg btn-primary"  href="#" role="button">Zapisz się</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="second-slide img-fluid img-responsive"
                 th:src="@{/images/mainpage/GoogleMaps.jpg}"
                 alt="Second slide">
            <div class="container">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Another example headline.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida
                        at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="third-slide img-fluid"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 alt="Third slide">
            <div class="container">
                <div class="carousel-caption d-none d-md-block text-right">
                    <h1>Poznaj naszych lekarzy!</h1>
                    <p>Wśród nas znajdują się specjaliści od: medycyny rodzinnej,
                    pediatrii, chorób wewnętrznych oraz rezydenci pracujący w szpitalach oraz innych
                    placówkach medycznych. Każdy z lekarzy ma minimum kilkuletnie doświadczenie!</p>
                    <p><a class="btn btn-lg btn-primary" href="/about" th:href="@{/about}" role="button">Dowiedz się więcej</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle img-responsive"
                 th:src="@{/images/mainpage/step1.jpg}"
                 alt="Generic placeholder image" width="200" height="200">
            <h2>Krok 1</h2>
            <p>Wybierz jedną z dwóch możliwych form
            rejstacji. Zarejestruj się online wypełniając formularz lub przez aplikację mobilną</p>
            <p><a class="btn btn-secondary" th:href="@{/patientSignIn}" role="button">Zarejestruj online &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle img-responsive"
                 th:src="@{/images/mainpage/step2.jpg}"
                 alt="Generic placeholder image" width="200" height="200">
            <h2>Krok 2</h2>
            <p>Wybierz metodę płatności - kartę kredytową lub poprzez przelew natychmiastowy,
            za pośrednictwem Dotpay.
                </p>
            <p><a class="btn btn-secondary" href="#" role="button">Dowiedz się więcej &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle img-responsive"
                 th:src="@{/images/mainpage/step3.jpg}"
                 alt="Generic placeholder image" width="200" height="200">
            <h2>Krok 3</h2>
            <p>Zaczekaj na przyjazd lekarza, a on przyjedzie do Ciebie. Lekarz wystawi
            zarówno receptę i zwolnienie jeśli będzie konieczność.</p>
            <p><a class="btn btn-secondary" href="/about" th:href="@{/about}" role="button">Poznaj lekarzy &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Nasi lekarze. <span
                    class="text-muted">Specjaliści w swoich dziedzinach! </span></h2>
            <p class="lead">Specjaliści w swoich dziedzinach pracujący na codzień w szpitalach klinicznych
            oraz placówkach prywatnych. Tysiące godzin spędzonych na poszerzaniu wiedzy z
            zakresu medycyny potwierdzone tysiącami godzin praktyki lekarskiej. Korzystamy
            z doświadczonej kadry lekarskiej, która posługuje się zarówno językiem polskim jak i angielskim</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto img-responsive"  th:src="@{/images/mainpage/kadra545.jpg}"
                 alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 push-md-5">
            <h2 class="featurette-heading">Wizyta domowa. <span class="text-muted">Kiedy wezwać lekarza?</span>
            </h2>
            <p class="lead"><p><img class="rounded-circle img-responsive"
                                    th:src="@{/images/mainpage/checked.jpg}"
                                    alt="Generic placeholder image" width="15" height="15"> Gorączka</p>
            <p><img class="rounded-circle img-responsive"
                    th:src="@{/images/mainpage/checked.jpg}"
                    alt="Generic placeholder image" width="15" height="15"> Ból ucha </p>
            <p><img class="rounded-circle img-responsive"
                    th:src="@{/images/mainpage/checked.jpg}"
                    alt="Generic placeholder image" width="15" height="15"> Katar </p>
            </p>
            <p><img class="rounded-circle img-responsive"
                    th:src="@{/images/mainpage/checked.jpg}"
                    alt="Generic placeholder image" width="15" height="15"> Wysypka </p>
            </p>
            <p><img class="rounded-circle img-responsive"
                    th:src="@{/images/mainpage/checked.jpg}"
                    alt="Generic placeholder image" width="15" height="15"> Biegunka </p>
            </p>
            <p><img class="rounded-circle img-responsive"
                    th:src="@{/images/mainpage/checked.jpg}"
                    alt="Generic placeholder image" width="15" height="15"> Zaprcie </p>
            </p>
            <p><img class="rounded-circle img-responsive"
                    th:src="@{/images/mainpage/checked.jpg}"
                    alt="Generic placeholder image" width="15" height="15"> Nudności/Wymioty </p>
            </p>
            <p><img class="rounded-circle img-responsive"
                    th:src="@{/images/mainpage/checked.jpg}"
                    alt="Generic placeholder image" width="15" height="15"> Ból brzucha </p>
            </p>
            <p><img class="rounded-circle img-responsive"
                    th:src="@{/images/mainpage/checked.jpg}"
                    alt="Generic placeholder image" width="15" height="15"> Inne objawy </p>
            </p>
        </div>
        <div class="col-md-5 pull-md-7">
            <img class="featurette-image img-fluid mx-auto img-responsive" th:src="@{/images/mainpage/lekarzwdomu.jpg}"
                 alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Wizyta domowa. <span class="text-muted">Kiedy nie należy wzywać lekarza?</span></h2>
            <p class="lead">
            <p><img class="rounded-circle img-responsive"
                    th:src="@{/images/mainpage/unchecked.jpg}"
                    alt="Generic placeholder image" width="15" height="15"> Stany wymagające hospitalizacji lub karetki pogotowia </p>
            </p>
            <p><img class="rounded-circle img-responsive"
                    th:src="@{/images/mainpage/unchecked.jpg}"
                    alt="Generic placeholder image" width="15" height="15"> Stany wymagające użycia specjalistycznego sprzętu </p>
            </p>
            <p><img class="rounded-circle img-responsive"
                    th:src="@{/images/mainpage/unchecked.jpg}"
                    alt="Generic placeholder image" width="15" height="15"> Pacjent nieprzytomny </p>
            </p>
            <p><img class="rounded-circle img-responsive"
                    th:src="@{/images/mainpage/unchecked.jpg}"
                    alt="Generic placeholder image" width="15" height="15"> Poród  </p>
            </p>
            <p><img class="rounded-circle img-responsive"
                    th:src="@{/images/mainpage/unchecked.jpg}"
                    alt="Generic placeholder image" width="15" height="15"> Wypadek komunikacyjny </p>
            </p>
            <p><img class="rounded-circle img-responsive"
                    th:src="@{/images/mainpage/unchecked.jpg}"
                    alt="Generic placeholder image" width="15" height="15"> Porażenie prądem  </p>
            </p>
            <p><img class="rounded-circle img-responsive"
                    th:src="@{/images/mainpage/unchecked.jpg}"
                    alt="Generic placeholder image" width="15" height="15"> Niekontrolowane krwawienie  </p>
            </p>
            <p><img class="rounded-circle img-responsive"
                    th:src="@{/images/mainpage/unchecked.jpg}"
                    alt="Generic placeholder image" width="15" height="15"> Brak oddechu  </p>
            </p>
            <p><img class="rounded-circle img-responsive"
                    th:src="@{/images/mainpage/unchecked.jpg}"
                    alt="Generic placeholder image" width="15" height="15"> Nagła reakcja alergiczna  </p>
            </p>
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto img-responsive" th:src="@{/images/mainpage/karetka.jpg}"
                 alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->


    <!-- FOOTER -->
    <footer>
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

</div><!-- /.container -->
</body>
</html>