<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link th:href="@{/styles/carousel.css}"  rel="stylesheet">
    <link th:href="@{/styles/stepper.css}"  rel="stylesheet">

    <title>Praca inżynierska Łukasz Kręski</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="/" th:href="@{/}">
        <img src="homedoclogo.png" th:src="@{/images/homedoclogo.png}" width="150" height="40" class="d-inline-block align-top" alt="homedoclogo"/>

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


<div class="container marketing">
    <div class="container">
        <h2 class="featurette-heading">Zarejestruj się. <span
                class="text-muted">Wypełnij wszystkie pola, aby dokonać tego prawidłowo! </span></h2>
        <p class="lead">W celu przybycia lekarza do Twojego domu konieczne jest wypełnienie
        podstawowych informacji, które pozwolą nam na określenie miejsca docelowego, wstępnych objawów choroby.
        W tym celu wypełnij formularz zgodnie z prawdą!</p>
        <form>
            <div class="form-group">

                <label for="city">Miejscowość:</label>
                <input type="text" class="form-control" id="city" placeholder="np. Bydgoszcz">
                <label for="postalcode">Kod pocztowy:</label>
                <input type="text" class="form-control" id="postalcode" placeholder="np. 55-111">

            <label for="street">Ulica:</label>
                <input type="text" class="form-control" id="street" placeholder="np. Sezamkowa">

                    <label for="house">Numer domu:</label>
                    <input type="text" class="form-control" id="house" placeholder="np. 10">

                    <label for="flat">Numer mieszkania:</label>
                    <input type="text" class="form-control" id="flat" placeholder="np. 11">

                </div>
            <button type="submit"  class="btn btn-primary">Submit</button>
        </form>
        <div class="mdl-card mdl-shadow--2dp">

            <div class="mdl-card__supporting-text">

                <div class="mdl-stepper-horizontal-alternative">
                    <div class="mdl-stepper-step active-step ">
                        <div class="mdl-stepper-circle"><span>1</span></div>
                        <div class="mdl-stepper-title">Adres</div>
                        <div class="mdl-stepper-optional">Dzięki tym informacjom
                        lekarz będzie wiedział gdzie ma dojechać</div>
                        <div class="mdl-stepper-bar-left"></div>
                        <div class="mdl-stepper-bar-right"></div>
                    </div>
                    <div class="mdl-stepper-step ">
                        <div class="mdl-stepper-circle"><span>2</span></div>
                        <div class="mdl-stepper-title">Set location</div>
                        <div class="mdl-stepper-optional">Optional</div>
                        <div class="mdl-stepper-bar-left"></div>
                        <div class="mdl-stepper-bar-right"></div>
                    </div>
                    <div class="mdl-stepper-step ">
                        <div class="mdl-stepper-circle"><span>3</span></div>
                        <div class="mdl-stepper-title">Invite friends</div>
                        <div class="mdl-stepper-optional">Optional</div>
                        <div class="mdl-stepper-bar-left"></div>
                        <div class="mdl-stepper-bar-right"></div>
                    </div>
                    <div class="mdl-stepper-step">
                        <div class="mdl-stepper-circle"><span>4</span></div>
                        <div class="mdl-stepper-title">Share</div>
                        <div class="mdl-stepper-optional">Optional</div>
                        <div class="mdl-stepper-bar-left"></div>
                        <div class="mdl-stepper-bar-right"></div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- Three columns of text below the carousel -->
    <!--<form class="needs-validation form-control" novalidate>-->
        <!--<div class="form-row">-->
            <!--<div class="col-md-4 mb-3">-->
                <!--<label for="validationCustom01">First name</label>-->
                <!--<input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="Mark" required>-->
                <!--<div class="valid-feedback">-->
                    <!--Looks good!-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4 mb-3">-->
                <!--<label for="validationCustom02">Last name</label>-->
                <!--<input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>-->
                <!--<div class="valid-feedback">-->
                    <!--Looks good!-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4 mb-3">-->
                <!--<label for="validationCustomUsername">Username</label>-->
                <!--<div class="input-group">-->
                    <!--<div class="input-group-prepend">-->
                        <!--<span class="input-group-text" id="inputGroupPrepend">@</span>-->
                    <!--</div>-->
                    <!--<input type="text" class="form-control" id="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend" required>-->
                    <!--<div class="invalid-feedback">-->
                        <!--Please choose a username.-->
                    <!--</div>-->
                <!--</div>-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="form-row">-->
            <!--<div class="col-md-6 mb-3">-->
                <!--<label for="validationCustom03">City</label>-->
                <!--<input type="text" class="form-control" id="validationCustom03" placeholder="City" required>-->
                <!--<div class="invalid-feedback">-->
                    <!--Please provide a valid city.-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-3 mb-3">-->
                <!--<label for="validationCustom04">State</label>-->
                <!--<input type="text" class="form-control" id="validationCustom04" placeholder="State" required>-->
                <!--<div class="invalid-feedback">-->
                    <!--Please provide a valid state.-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-3 mb-3">-->
                <!--<label for="validationCustom05">Zip</label>-->
                <!--<input type="text" class="form-control" id="validationCustom05" placeholder="Zip" required>-->
                <!--<div class="invalid-feedback">-->
                    <!--Please provide a valid zip.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<div class="form-check">-->
                <!--<input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>-->
                <!--<label class="form-check-label" for="invalidCheck">-->
                    <!--Agree to terms and conditions-->
                <!--</label>-->
                <!--<div class="invalid-feedback">-->
                    <!--You must agree before submitting.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<button class="btn btn-primary" type="submit">Submit form</button>-->
    <!--</form>-->

    <!--<script>-->
        <!--// Example starter JavaScript for disabling form submissions if there are invalid fields-->
        <!--(function() {-->
            <!--'use strict';-->
            <!--window.addEventListener('load', function() {-->
                <!--// Fetch all the forms we want to apply custom Bootstrap validation styles to-->
                <!--var forms = document.getElementsByClassName('needs-validation');-->
                <!--// Loop over them and prevent submission-->
                <!--var validation = Array.prototype.filter.call(forms, function(form) {-->
                    <!--form.addEventListener('submit', function(event) {-->
                        <!--if (form.checkValidity() === false) {-->
                            <!--event.preventDefault();-->
                            <!--event.stopPropagation();-->
                        <!--}-->
                        <!--form.classList.add('was-validated');-->
                    <!--}, false);-->
                <!--});-->
            <!--}, false);-->
        <!--})();-->
    <!--</script>-->




    <!-- FOOTER -->
    <footer>
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

</div><!-- /.container -->
</body>
</html>