<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">

        <img src="homedoclogo.png" th:src="@{/images/homedoclogo.png}" width="150" height="40" class="d-inline-block align-top" alt=""/>

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Strona główna <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dla lekarzy
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/registration}">Zarejestruj się</a>
                    <a class="dropdown-item" th:href="@{/login}">Zaloguj się</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Informacje</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Zaloguj się</button>
        </form>
    </div>
</nav>
<div id="maincarousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner" style="width: 100%; height: 400px;">
        <div class="carousel-item active" style="width: 100%; height: 400px;">
            <img src="lekarzwdomu.jpg" alt="" th:src="@{/images/mainpage/lekarzwdomu.jpg}" style="width: 100%; height: 400px;">
            <div class="carousel-caption">
                <h3 style="color: black;">Domowy lekarz!</h3>
                <p style="color: black;">Czy mozna miec cos lepszego?</p>
            </div>
        </div>
        <div class="carousel-item" style="width: 100%; height: 400px;">
            <img src="GoogleMaps.jpg" alt="Dowolna lokalizacja" th:src="@{/images/mainpage/GoogleMaps.jpg}" style="width: 100%; height: 400px;">
            <div class="carousel-caption">
                <h3 style="color: black;">Dowolna lokalizacja!</h3>
                <p style="color: black;">Wybierz lokalizację, a my do Ciebie dojedziemy!</p>
            </div>
        </div>
        <div class="carousel-item" style="width: 100%; height: 400px;">
            <img src="ny.jpg" alt="New York">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#maincarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#maincarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<div class="container marketing">
    <div class="row">
        <div style="margin-bottom: 1.5rem; text-align: center;">
    <img class="rounded-circle" src="stary.html" th:src="@{/images/mainpage/lekarzwdomu.jpg}" style="width: 140px; height: 140px" alt="zdjecie">
    <h2 style="font-weight: normal">Naglowek</h2>
    <p>Podpis</p>
        </div>
    </div>
</div>
</html>